# python data types

### variable types
* int
* float
* str
* bool

In [84]:
# integer
type(5)

int

In [85]:
# string
type("five")

str

In [86]:
# float
type(1.1)

float

In [87]:
# large numbers
1.4525e10-1.5e10

type(1.453e23)

-475000000.0

In [88]:
# boolean
type(True)

type(1 == 2)

bool

### collection types
* mutable
    * list = [1,2]
    * dict = {'a':1,'b':2}    # use when need logical association of a key:value pair such as a query string
    * set  = {1,2,3,5,8,13}    # use if needs to be unique - has no index, dupe values not allowed 
* immutable
    * tuple = (1,2)   # use when values can not change - has index - dupe values allowed

### Lists
* 
* 
*

In [112]:
# list
listx = ['simon','bongo','penelope']
print(type(listx))
print(listx)
print(listx[0])
print(listx[2])
print(listx[1])
listx.append('jillian')    # adds jillian to end of the list 
print(listx)    # now returns ['simon', 'bongo', 'penelope', 'jillian']
print(listx.index('jillian'))    # returns jillian's index 
# print(listx.shape)    # shape not an attribute, so how to describe?

print(listx[1:3])    # returns ['bongo', 'penelope']
print(listx[0:2])    # returns ['simon', 'bongo']
print(listx[::2])    # returns ['simon', 'penelope']  - third parameter is step value
print(listx[::-1])   # reversal trick, returns ['jillian', 'penelope', 'bongo', 'simon'] 
#print(listx)
#print(listx)
#print(listx)

<class 'list'>
['simon', 'bongo', 'penelope']
simon
penelope
bongo
['simon', 'bongo', 'penelope', 'jillian']
3
['bongo', 'penelope']
['simon', 'bongo']
['simon', 'penelope']
['jillian', 'penelope', 'bongo', 'simon']

In [ ]:

d

### Dictionaries
* 
* 
*

In [91]:
# dictionary
type({'a':1,'b':2})

dict

### Sets
* 
* 
*

### Tuples

In [83]:
# tuple
tup1 = (1,2,3,4,3,2,1)
print(type(tup1))
print(tup1)

<class 'tuple'>
(1, 2, 3, 4, 3, 2, 1)

In [65]:
t = ('w','x','y','z','fudgetart')
type(t)

tuple

### Lists
* list()
* list.append()
* list(tuple)    # turns tuple into a list
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    # 
* list()    #

In [76]:
fib = list(t) # create a list from a tuple
# fib = list(('q','r','s'))    # alternately put tuple directly in, but then agan, why would you ever do that? 
print('fib - ',type(fib))
fib

fib -  <class 'list'>

['w', 'x', 'y', 'z', 'fudgetart']

In [77]:
# create a list directly - as indicated by square brackets
fib = [1,2,3,5,8,13]
print(type(fib))
fib

<class 'list'>

[1, 2, 3, 5, 8, 13]

In [79]:
fib.append(21)

In [80]:
fib

[1, 2, 3, 5, 8, 13, 21]

In [38]:
names = ['michael','fred','simon']
type(names)

list

In [39]:
vals = [True,False,False]
type(vals)

list

In [41]:
len(vals)

3

In [42]:
vals[0]

True

In [43]:
names[2]

'simon'

In [44]:
type(names[2])

str

## dictionaries   { }

In [3]:
menu = {'item1' : 45,
        'item2' : 77,
        'item3' : 17,
        'item4' : 69
}

In [6]:
type(menu)

dict

In [5]:
menu

{'item1': 45, 'item2': 77, 'item3': 17, 'item4': 69}

In [7]:
menu['item1']

45

### sets{ }
* sets are similar to lists, and look like dicts{}, but no key:value, just values
* and no index 
* values in set must be unique
* automatically sorted 
* can create a set two ways
    * s1 = {1,2,3}
    * s2 = set(1,2,3)
* **union** or **|** of two sets returs all values in both sets
* **intersection** or **&** of two sets returns a set with values that appear in both sets
* **difference** or **-** of two sets returns items in first set but not second 
* **symetric difference** or **^** of two sets returns values in either set but not both

In [4]:
s1 = {1,2,3,5,8,13,21,34,55}
s2 = set([1,2,3])
s2

{1, 2, 3}

In [6]:
s1

{1, 2, 3, 5, 8, 13, 21, 34, 55}

In [7]:
s2.add(5)
s2

{1, 2, 3, 5}

In [8]:
list1 = [3,4,2,5,6,6,5,4,3]
list1

[3, 4, 2, 5, 6, 6, 5, 4, 3]

In [10]:
s3 = set(list1)
s3

{2, 3, 4, 5, 6}

In [11]:
# notice that set removes duplicate values and orders them. also...
s3[2] # throws error as sets are not indexed

TypeError: 'set' object does not support indexing

In [12]:
for n in s3:
    print(n)

2
3
4
5
6

In [34]:
list2 = [5,5,6,23,12,10,9,7,77,6]

# dedupe and sort list like this
list2 = list(set(list2))    # depupe by converting to set and then back to list
list2.sort()
list2

[5, 6, 7, 9, 10, 12, 23, 77]

In [40]:
set1 = {1,2,3,5,8,13,21,34,55,89,144}
set2 = {1,2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53}
set3 = {1,4,9,16,25,36,49,64,81,100}
print(set1)
print(set2)
print(set1 | set2)
print(set1 & set2)
print(set1 | set2 | set3)
print(set1 & set2 & set3)

{1, 2, 3, 34, 5, 8, 13, 144, 21, 55, 89}
{1, 2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 53, 23, 29, 31}
{1, 2, 3, 5, 7, 8, 11, 13, 144, 17, 19, 21, 23, 89, 29, 31, 34, 37, 41, 43, 47, 53, 55}
{1, 2, 3, 5, 13}
{1, 2, 3, 4, 5, 7, 8, 9, 11, 13, 144, 17, 16, 19, 21, 23, 25, 29, 31, 34, 36, 37, 41, 43, 47, 49, 53, 55, 64, 81, 89, 100}
{1}

In [45]:
print(len(set1), len(set2), len(set3))

11 17 11

In [42]:
print(len(set1 | set2))
print(len(set1 & set2))

23
5

In [43]:
set3.add(121)
set3

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121}

In [44]:
print(set1 - set2)
print(set1 ^ set2)

{34, 8, 144, 21, 55, 89}
{7, 8, 11, 144, 17, 19, 21, 23, 29, 31, 34, 37, 41, 43, 47, 53, 55, 89}